@import "variables";

* {
  font-family: "IM Fell Double Pica", serif;
}

body {
  background: linear-gradient(to left, silver, white);
}

/* Styles for Header */

.header__img {
  width: 20rem;
  animation-name: knights__imagen;
  animation-duration: 4s;
  opacity: 100;
  animation-timing-function: ease-in;
}
@keyframes knights__imagen {
  from {
    opacity: 0;
  }
  to {
  }
}

.navbar {
  color: map-get($colors, black1);
}

/*
@media (max-width: 991px) {
  .navbar-collapse {
    background-color: fade-out(map-get($colors, silver1), 0);
  }
}

*/
