body {
  background: linear-gradient(to left, silver, white);
}

/* Styles for Header */

.header__img {
  width: 24rem;
  animation-name: knights__imagen;
  animation-duration: 4s;
  opacity: 100;
  animation-timing-function: ease-in;
}
@keyframes knights__imagen {
  from {
    opacity: 0;
  }
  to {
  }
}

$colors: (
  silver1: #c0c0c0,
  dark__blue: #004e98,
  light__blue: #3a6ea5,
  grey1: #ebebeb,
  black1: #090c08,
);
