@import "mixins";

.mazos__expla {
  p {
    line-height: 2;
  }
  h2 {
    @include important__headers;
  }
}

.mazos__decoration--basic {
  background-color: map-get($colors, silver1);
}

.mazos__decoration--1st {
  @extend .mazos__decoration--basic;
  color: map-get($colors, black1);
}

.mazos__decoration--2nd {
  @extend .mazos__decoration--basic;
  color: map-get($colors, black1);
}
